@import "tailwindcss";

@theme inline {
  --font-header: var(--font-header);
  --font-body: var(--font-body);
  --font-button: var(--font-button);
}

@theme {
  --breakpoint-lg: 960px;
}

* {
  box-sizing: border-box;
}